<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--	
Delete, Insert, Update
 -->
 
<!-- SQL definition -->
<mapper namespace="UserMapper03">
	<insert id="addUser">
		INSERT into users(user_id, user_name, password, age, grade, reg_date)
		VALUES(#{userId}, #{userName}, #{password}, #{age}, #{grade}, #{regDate})
	</insert>
	
	<update id="updateUser" parameterType="user">
		UPDATE users
		SET user_name = #{userName}
		WHERE user_id=#{userId}
	
	</update>
	
	<delete id="removeUser" parameterType="string">
		DELETE from users
		WHERE user_id = #{value}
	
	
	</delete>
 	
</mapper>